{% extends "layouts/main.twig" %}
{% block content %}

<br>
<hr>
<a class="back__btn" href="/php2Course/lesson5/php2Course/public/good/">В Каталог</a>
    <a class="back__btn" href="/php2Course/lesson5/php2Course/public/good/update?id={{ good.id }}">Редактировать товар</a>
    <a class="back__btn" href="/php2Course/lesson5/php2Course/public/good/delete?id={{ good.id }}">Удалить товар</a>
<hr>
<div class="good__card">
    <div class="good__card_left">
        <h2>{{ good.name }}</h2>
        <img src="/php2Course/lesson5/php2Course/{{good.image}}" alt="{{good.description}}" class="good__card-img">
        <h3>{{good.price}} RUB.</h3>
    </div>
    <div class="good__card_right">
        <p class="good__card_description">
            {{good.description}}
        </p>
    </div>
</div>
<a class="back__btn" href="/php2Course/lesson5/php2Course/public/good/">В Каталог</a>
<a href="/php2Course/lesson5/php2Course/public/order/add?id={{ good.id }}" class="back__btn">Add to Cart</a>
{% endblock %}